<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGIntro.GroupsIntro"/>
      <class name="testNGIntro.IgnoreTest"/>
      <class name="testNGIntro.NewTest"/>
      <class name="testNGIntro.DataProviderIntro"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
